/.babelrc.js
/.eslintrc.js
/.eslintignore
/.gitignore
/.prettierrc.js
/.prettierignore
/package-lock.json
/tsconfig.json
/tsconfig.types.json
/yarn.lock
/yarn-error.lock

/.vscode
/config/**
/node_modules
/src
